<figure class="figure">
    <img src="http://dotnethow.net/images/movies/movie-6.jpeg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title of the first movie</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b> 9/10</b> </figcaption>
</figure>

<figure class="figure">
    <img src="http://dotnethow.net/images/movies/movie-6.jpeg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title of the first movie</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b> 9/10</b> </figcaption>
</figure>

<figure class="figure">
    <img src="http://dotnethow.net/images/movies/movie-6.jpeg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title of the first movie</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b> 9/10</b> </figcaption>
</figure>

<figure class="figure">
    <img src="http://dotnethow.net/images/movies/movie-6.jpeg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title of the first movie</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b> 9/10</b> </figcaption>
</figure>

<figure class="figure">
    <img src="http://dotnethow.net/images/movies/movie-6.jpeg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title of the first movie</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b> 9/10</b> </figcaption>
</figure>

<figure class="figure">
    <img src="http://dotnethow.net/images/movies/movie-6.jpeg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title of the first movie</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b> 9/10</b> </figcaption>
</figure>

<figure class="figure">
    <img src="http://dotnethow.net/images/movies/movie-6.jpeg" 
    class="figure-img img-fluid rounded img-thumbnail" 
    style="max-width: 150px;"
    alt="...">
    <figcaption class="figure-caption">Title of the first movie</figcaption>
    <figcaption class="figure-caption"> <i class="bi bi-star"></i> <b> 9/10</b> </figcaption>
</figure>
